.navbar {
    top: 0;
    left: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px 20px;
    z-index: 999; /* Ensure the navbar stays on top */
}

.logo {
    width: 100px; /* Adjust as needed */
    height: auto;
}
@media only screen and (max-width: 800px) {
    .logo {
        width: 50px; /* Adjust as needed */
    }
}
.title {
    text-align: center;
    color: white;
}
 p {
    font-size:large;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    
    color: rgb(246, 246, 246); /* Text color */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8); /* Shadow effect */
  
  }
  /* Media query for mobile view */
@media only screen and (max-width: 800px) {
    p {
        font-size: small; /* Change font size to medium for mobile view */
    }
}